    
.signup-form{ 
    input[type=email] {
        font-family: $main-font;
        display: block;
        width: 500px;
        color: gray;
        border: 1px solid #ABB0B2; 
        -webkit-border-radius: 3px; 
        -moz-border-radius: 3px; 
        border-radius: 3px;
        padding: 5px;
        margin: 0 10px 10px 0;
    }
    input[type=submit] {
        clear:both; 
        font-family: $main-font;
        background-color:lightgrey; 
        border: 0 none; 
        border-radius:4px; 
        transition: all 0.23s ease-in-out 0s; 
        color: black;
        cursor: pointer;  
        display: inline-block; 
        height: 32px; 
        line-height: 32px;
        margin: 0 5px 10px 0; 
        padding: 0 22px; 
        text-align: center; 
        vertical-align: top; 
        white-space: nowrap; 
        width: auto;
    }
    input[type=submit]:hover {
        background-color: gray;
    }
}