/*
 * Customization Variables
 */

$accent_lightmode: #3366cc;
$emph_lightmode: #F04A00;
$base_lightmode: #2e3340;
$bg_lightmode: #FFFFFF;

$accent_darkmode: #D8B4F9;
$emph_darkmode: #f26d8f;
$base_darkmode: #EBEBEB;
$bg_darkmode: #242424;

.alphabetical {
  color: $emph_lightmode;
}

// todo: remove these somehow.
$font_family: "Times"; 
$header_font_size: 25px;
$body_font_size: 17px;

$image-size: 110px;

$content-line-height: 1.60;

/*
 * Build Variables, don't touch
 */

$max-width: 650px;
$med-width: 550px;
$small-width: 480px;
