/*
 * Customization Variables
 */

$accent_lightmode: #BF616A;
$base_lightmode: #2D2D2D;
$bg_lightmode: #FFFFFF;

$accent_darkmode: #D8B4F9;
$base_darkmode: #EBEBEB;
$bg_darkmode: #242424;

$font_family: "Helvetica";
$header_font_size: 35px;
$body_font_size: 18px;

$image-size: 85px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
