/*
 * Customization Variables
 */

$accent_lightmode: #BF616A;
$emph_lightmode: #824fdf;
$base_lightmode: #454545;
$bg_lightmode: #FFFFFF;

$accent_darkmode: #D8B4F9;
$emph_darkmode: #f26d8f;
$base_darkmode: #EBEBEB;
$bg_darkmode: #242424;


$font_family: "Palatino";
$header_font_size: 25px;
$body_font_size: 17px;

$image-size: 110px;

$content-line-height: 1.60;

/*
 * Build Variables, don't touch
 */

$max-width: 650px;
$med-width: 550px;
$small-width: 480px;
