---
sitemap: false
---

@import "vars";

/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Source Serif";
$heading-font: "Source Serif";
$regular-font-size: 15pt; /*1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */

/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: $base_lightmode;
$heading-color: #000000;
$link-color: $accent_lightmode;

@import "ed";
@import "syntax";
@import "posts";
@import "papers";
@import "footer";
@import "subscribe";
