<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">


    <!--
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
    <div class="wrap">
      <header class="masthead">
        <div class="container">
          <a id='name' href="{% link index.md %}">Ian Waudby-Smith</a>
          <div class="span">
            <a href="{% link papers.md %}">Papers</a>
	    &middot;
            <a href="/ianws_cv.pdf">CV</a>
	    &middot;
            <a href="{% link misc.md %}">Misc</a>
          </div>
        </div>
      </header>

      <main class="container content" id="main">
        {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" href="http' }} <!-- "> -->
      </main>

      <!-- Footer  -->
      <div class="container" id="footer">
        <hr>
	  <a href="mailto:ianws@berkeley.edu">ianws@berkeley.edu</a>
	  <br/>
	  <a href="https://github.com/wannabesmith">github</a>
	  &middot;
	  <a href="https://x.com/ianws0">X</a>
	  &middot;
	<a href="https://bsky.app/profile/ianws.bsky.social">bsky</a>  
      </div>
    </div>

  </body>
</html> 
