---
layout: default
---

<article class="writing">
  <!-- <small>
    <a id="back", href="{% link writing.md %}">Back to all writing</a>
  </small>
  <hr> -->
  {% if page.status == 'unpublished' %}
    <b>Not yet public. In the midst of soliciting feedback. Please do not share.</b>
  {% endif %}
  <p class='title'>{{ page.title }}</p> 
  <p id="date">{{ page.date | date: '%B %d, %Y'}}{% if page.updated != nil %}; Updated {{ page.updated | date: '%B %d, %Y'}}{% endif %}</p>
  <br/><br/>
  {{ content }}
  <small>
    <a id="back", href="{% link software.md %}">Back to all writing</a>
  </small>
  <br><br>
  <p id="subscribe"><a href="{% link subscribe.md %}">Subscribe</a> to get notified about new essays.</p>
</article>
